:root {
    --primary-color: rgb(43, 156, 87);
    --primary-color2: rgb(87, 158, 114);
    --secondary-color:  #f0f0f0;
    --secondary-color2: #575757;
    --font-family: 'Poppins', sans-serif;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --card-height: 100%;
    --card-img-height: 200px;
    --card-img-fit: cover;
    --font-weight: 500;
}



/* todo: navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}
.navbar a {
    font-family: roboto,sans-serif;
    font-size:18px ;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.navbar a:hover {
    background-color: #06aa7e;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    transform: translateY(-10px)scale(1.03);
}
.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 100px;
}
.navbar .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
    }
    .navbar .menu.active {
        display: flex;
    }
    .navbar .menu-icon {
        display: flex;
    }
}

@media (max-width: 1199px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
    }
    .navbar .menu.active {
        display: flex;
    }
    .navbar .menu-icon {
        display: flex;
    }
}




#hero {
    background-image: url('asserts/hero1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    box-shadow: var(--card-shadow);
    height: var(--card-height);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    height: var(--card-img-height);
    object-fit: var(--card-img-fit);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container .col-md-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#card:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0,0.5);
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    transform: translateY(-10px)scale(1.03);

}

.btnbs{
    background-color:var(--primary-color2);
    color: white;
    font-family: poppins;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor:pointer;

}


.card-body p{
    font-family: var(--font-family);
    font-weight: 500;

}

#container1 {
    position: relative;
}

#container1 img {
    margin-top: 100px;
    display: block;
    width: 100%;
    height: auto;
}

#container1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); 
    pointer-events: none;
}
#tranding-cards{
    margin-top: -20%;
    padding: 3%;
}

#tranding-cardR2{
    padding: 3%;
    margin-top: -5%;
    margin-bottom: 10%;
}

#col img{
    width: 100%;
    
}

#edc{
    font-family: var(--font-family);
    
    margin-top: 5%;
    margin-left: 15%;
    padding: 10px;
}

/* TODO Video Cards */
.container {
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.video-card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex: 1;
    margin-bottom: 30px;
}

.video-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.video-details {
    padding: 20px;
}

.video-details h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.video-details p {
    margin: 10px 0;
    color: #666;
}

.video-details a {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    background-color:var(--primary-color2);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.video-details a:hover {
    background-color: #45a049;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .video-card {
        width: 100%;
    }
}

/* TODO Booking class */

.main-wrapper {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  #bking{
    background-color: #f0f0f0;
    margin-top: -5%
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 100%;
    max-width: 350px;
  }
  
  .image-section,
  .form-section {
    width: 100%;
  }
  
  .learning-image,
  .cbm-image,
  .rmb-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .form-section {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
  }
  
  .form-section form {
    display: flex;
    flex-direction: column;
  }
  
  .form-section label {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    text-align: left;
  }
  
  .form-section input,
  .form-section select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-section button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .form-section button:hover {
    background-color: #0056b3;
  }
  
  #cbm-result {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
    text-align: center;
  }
  
  /* TODO Responsive Design */

  @media (min-width: 768px) {
    .main-wrapper {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .card-wrapper {
      flex: 1;
      max-width: calc(33.333% - 20px);
    }
  }

  /*TODO CART*/
  .cart{
    background-color: #212529;
    color : #fff;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
  }
.cartA{
    font-size: 16px;
    background-color: red;
    padding: 10px;
    color: white;
    position: absolute;
    border-radius: 5px;
    top: -10px;
    right: -10px;
    margin-top: 5px;

}

.cardD{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
}

.cardD1 p h6{
    font-size: 13px;
}
.cardD1 img{
    width: 30px;
    height: 30px;
}
.rating{
    color: #45a049;
    margin-top:20px;
    display: flex;
}
.fa-heart .bi-cart3{
    color: rgb(247, 118, 5);
}

